@font-face {
    font-family: 'AvenirLT-Book';
    src: url('webfonts/30787F_0_0.eot');
    src: url('webfonts/30787F_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/30787F_0_0.woff2') format('woff2'), url('webfonts/30787F_0_0.woff') format('woff'), url('webfonts/30787F_0_0.ttf') format('truetype');
}

$hed: 'Arial';
$serif: 'AvenirLT-Book', Georgia;


$lg: 1025px;
$med: 800px;
$iPad: 768px;
$sm: 600px;

// --------------------------------------------------------colors ---------------------------------------------------------//

$main:#FF895D;
$secondary:#D5EEFF;
$tertiary:#78BBE6;
$higlight:#1B435D;

$biggestPhone: 415px;
$smallestPhone: 320px;
